<div id="hotel-view">
  <form>
    <input type="text" name="city" placeholder="City" [(ngModel)]="city">
    <br/>
    <input type="text" name="country" placeholder="Country" [(ngModel)]="country">
    <br/>
    <input type="text" name="min-price" placeholder="minimum price">
    <br/>
    <input type="text" name="max-price" placeholder="max price">
    <br/>
    <button id='get-hotel-data' (click)="getBookhotelData(city, country)">
      Get Data</button>
  </form>
  <ul>



    <div class='each-hotel' *ngFor="let hotel of bookhotelList " let myIndex=i>
      <img class='icon' src="{{hotel.icon}} " alt="icon ">
      <h3 class='hotel-name'>{{hotel.name}}</h3>
      <h4 class='hotel-address'>{{hotel.address}}, City: {{hotel.city}}, Country: {{hotel.country}}</h4>
      <h4>{{hotel.phone}}</h4>
      <h4>Dates available: {{hotel.date}}</h4>
      <h5 class='hotel-cost'>{{hotel.cost}}</h5>
      <button class='book-hotel-button'>Book Hotel</button>
    </div>
  </ul>
</div>


<router-outlet></router-outlet>