<div id="home-view">
    <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn">Welcome Jane Doe
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Account</a>
                <a href="#">Payment</a>
                <a href="#">Logout</a>
            </div>
        </div>
    </div>
    <div id="greeting">
        <h1>{{name}}</h1>
    </div>
    <hotel-view></hotel-view>
</div>

<router-outlet></router-outlet>